.dropdown {
    position: relative;
    font-size: 1.4rem;
    margin: 0 2em;
}

.dropdown select {
    display: none;
}

.select-selected {
    background-color: #f6efe5;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #39383d transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #39383d transparent;
    top: 7px;
}

.select-items div, .select-selected {
    color: #39383d;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(57, 56, 61, 0.1) transparent;
    cursor: pointer;
}

.select-items {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    background-color: #f6efe5;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(57, 56, 61, 0.1);
}