.search-container {
    position: relative;
}

.search-input {
    display: block;
    width: 100%;
    padding: 0.52em 1.5em;
    padding-right: 3.2em;
    color: #39383d;
    background-color: #f6efe5;
    font-size: 1.4em;
    font-family: "Century Gothic";
    border-color: transparent transparent rgba(57, 56, 61, 0.1) transparent;
}

.search-icon {
    position: absolute;
    right: 6%;
    top: 24%;
    width: 8%;
    max-width: 24px;
    cursor: pointer;
}

#searchSnackbar {
    visibility: hidden;
    min-width: 250px;
    font-size: 1.4em;
    margin-left: -125px;
    background-color: #2a91ec;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#editSnackbar {
    visibility: hidden;
    min-width: 250px;
    font-size: 1.4em;
    margin-left: -125px;
    background-color: #c32436;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#editSnackbar.show, #searchSnackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
 }

 /* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 140px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 140px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 140px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 140px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}